
// 按鈕樣式
@mixin btn($bg) {
    .btn {
        display: block;
        text-decoration: none;
        font-size: 18px;
        padding: 12px 32px;
        border-radius: 27px;
        background-color: $bg;
        border: none;
        color: #fff;
        cursor: pointer;
        @content;
    }
}